<!-- hello-gif.handlebars -->
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        flex: 0 0 100%;
        }

        .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        img {
        border-radius: 5px 5px 0 0;
        }

        .container {
        padding: 2px 16px;
        }
</style>
<!-- show a gif passed from the route -->
<nav class="navbar navbar-light bg-info">
  <center><h4>Yashsvi Girdhar Sachit Chhabra Term project</h4></center>
</nav>
<!--/.Navbar-->
<div class ="container-fluid" style="display: flex; flex-flow: row wrap;" >

    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Meme App</span>
    </nav>
    <!--/.Navbar-->
<center>
    <div class ="row">
        
{{#each gifs}}
    <div class="col-sm-6 col-md-4 col-lg-3" style="flex: 0 0 33.333%;
  display: flex;">
    <div class="card" style="margin: 2%;">
        
        <div class="container">
            <h5><b>{{this.title}}</b></h5>
            <p>{{this.user.username}}r</p>
        </div>
        <img src="{{this.images.fixed_height.url}}" alt="">

        <div class="container">
            <p><b><i class="fa fa-edit"></i> Edit</b></p>
            <p><b><i class="fa fa-trash"></i> Delete</b></p>
        </div>
        
    </div>
    </div>
    
    {{/each}}
{{!-- <img src="{{gifUrl}}"> --}}
</div>
</center>
</div>
